PUBLIC_SITE_URL=https://thomas-montage.be
PUBLIC_PHONE_DISPLAY=+32 473 37 24 08
PUBLIC_PHONE_E164=+32473372408
PUBLIC_EMAIL=thomas.deschuyteneer07@gmail.com
PUBLIC_WHATSAPP_URL=https://wa.me/32473372408
PUBLIC_FACEBOOK_URL=https://www.facebook.com/profile.php?id=100008990770669
